<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="detalle">
            <h3>Nuevo Paso</h3>
            <label for="inputnombre">Origen</label>
            <select class="form-control">
                <option *ngFor="let tarea of tareas" [value]="tarea.id">tarea.nombre</option>
            </select>
            <div></div>
            <label for="inputnombre">Destino</label>
            <select class="form-control">
                <option *ngFor="let tarea of tareas" [value]="tarea.id">tarea.nombre</option>
            </select>
            <div></div>
            <label for="inputnombre">Condicion</label>
            <input type="text" id="inputnombre" class="form-control">
            <button (click)="add()">Guardar</button>
            <button (click)="goBack()">Volver</button>
        </div>
    </div>
</div>

