<h2>Mi Proceso</h2>
<div>
  <label>Nombre del proceso:</label> <input #procesoNombre />
  <button (click)="add(procesoNombre.value); procesoNombre.value=''">
    Crear
  </button>
</div>
<ul class="procesos">
  <li *ngFor="let proceso of procesos" (click)="onSelect(proceso)"
      [class.selected]="proceso === selectedProceso">
    <span class="badge">{{proceso.id}}</span>
    <span>{{proceso.nombre}}</span>
    <button class="delete"
      (click)="delete(proceso); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedProceso">
  <h2>
    Esta seleccionando el proceso {{selectedProceso.nombre | uppercase}}
  </h2>
  <button (click)="gotoDetail()">Ver detalles</button>
</div>
