<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="detalle">
            <h3>Detalles del proceso</h3>
            <label for="inputnombre">Nombre</label>
            <input type="text" id="inputnombre" class="form-control" placeholder="nombre" required="" autofocus="">
            <button (click)="goBack()">Volver</button>
            <button (click)="anhadeFlujo()">Nuevo Paso</button>
            <button (click)="save()">Guardar</button>
        </div>
    </div>
</div>

