<div class="container">
    <div class="row">
        <h1 class="h">Listado de Procesos</h1>
        <button type="button" class="btn btn-success glyphicon glyphicon-plus btn2 btn-sm"> Nuevo</button>
        <br />
        <div class="col-md-12">
            <br />
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Numero proceso</th>
                            <th>Proceso</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proceso of procesos" (click)="onSelect(proceso)" [class.selected]="proceso === selectedProceso">
                            <td>{{proceso.id}}</td>
                            <td>{{proceso.nombre}}</td>
                            <td><button class="glyphicon glyphicon-pencil" (click)="gotoDetail()"></button></td>
                            <td><button class="delete glyphicon glyphicon-trash" (click)="delete(programa); $event.stopPropagation()"></button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
