<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div *ngIf="tarea" class="detalle">
            <h3>Detalles de la tarea</h3>
            <label for="inputnombre">Tarea</label>
            <input type="text" id="inputnombre" class="form-control" placeholder="nombre" #tareanombre required="" autofocus="">
            <label id="lbltipo" for="inputtipotarea" >Tipo de la tarea</label>
            <select class="form-control" #tareaTipotareaId>
                <option *ngFor="let tipotarea of tipotareas" #tareaTipotareaId [value]="tipotarea.id">{{tipotarea.nombre}}</option>
            </select>
            <button (click)="add(tareanombre.value , tareaTipotareaId.value); tareanombre.value=''; tareaTipotareaId.value='';">Crear</button>
            <button (click)="save()">Crear</button>
        </div>
    </div>
</div>

